{% extends 'Base/base_site.html' %}
{% block style %}
	<style>
		.y.axisLeft text{
			fill:#808080;
		}
		.axis path,
		.axis line{
			fill:none;
			stroke:#000;
		}

		.bar1{
			fill:#00a65a;
		}
		.x.axis path{
			display:none;
		}
		.x.axis text{
			fill:#707070;
		}


		.tooltip{
			position: absolute;
			width: 120px;
			height: auto;
			font-family: simsun;
			font-size: 14px;
			text-align: center;
			color: white;
			border-width: 2px solid black;
			background-color: black;
			border-radius: 5px;
		}
		 
		.tooltip:after{ 
			content: '';
			position: absolute;
			bottom: 100%;
			left: 20%;
			margin-left: -8px;
			width: 0;
			height: 0;
			border-bottom: 12px solid black;
			border-right: 12px solid transparent;
			border-left: 12px solid transparent;
		}
	</style>
{% endblock %}

{% block content_header %}
	<section class="content-header">
	  <h1>
	    Dashboard
	    <small>Control panel</small>
	  </h1>
	  <ol class="breadcrumb">
	    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
	    <li class="active">Dashboard</li>
	  </ol>
	</section>
{% endblock %}

{% block content %}
	<section class="content">
		<div class="col-md-6">
			<div class="box box-success">
				<div class="box-header with-border">
					<h3 class="box-title">Bar Chart</h3>
				</div>
				<div class="box-body">
					<div id="grid-hist">
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="box box-danger">
				<div class="box-header with-border">
					<h3 class="box-title">Pie Chart</h3>
				</div>
				<div class="box-body">
					<div id="pie">
						<svg id="grid-pie" style="height:400px"></svg>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}


{% block js_function %}
<script src="/static/bower_components/chart.js/d3.js" charset="utf-8"> </script>
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/bower_components/time_choose/jquery-1.12.3.min.js"></script>
<script type="text/javascript">
	var day = localStorage.getItem("day");
	var time = localStorage.getItem("time");
	time = time.slice(0,2) + "-" + time.slice(3,4);

	//var width = 1000;
	//var height = 500;

	d3.json("/static/log/" + day + "/" + time + ".json",function(error,root){
		if(error){
			alert("指定时间的json文件错误，请到相应目录检查文件。");
		}
		else{
			var cluster = root.CLUSTER_INFO;
			var cluster_name = [];
			var cluster_op_count = [];
			var cluster_queue = [];

			for(var i in cluster){
				cluster_name.push(cluster[i].name);
				cluster_op_count.push(cluster[i].count);
				cluster_queue.push(cluster[i].Queuename);
			}

			var margin = {top:40,right:80,bottom:40,left:40},
			hist_width = 550 - margin.left - margin.right,
			hist_height = 400 - margin.top - margin.bottom;

			var min = d3.min(cluster_op_count);
			var max = d3.max(cluster_op_count);

			//定义比例尺
			var x = d3.scale.ordinal()
				.rangeRoundBands([0,hist_width],.1);   //rangeRoundBands设定值域并且有取整的作用

			x.domain(cluster_name);

			var y = d3.scale.linear().domain([0,max]).range([hist_height,0]);

			//定义坐标轴
			var xAxis = d3.svg.axis()
						.scale(x)
						.orient("bottom");

			var yAxis = d3.svg.axis().scale(y).ticks(6).orient("left");

			var svg = d3.select("#grid-hist")
				.append("svg")
				.attr("width",hist_width+margin.left+margin.right)
				.attr("height",hist_height+margin.top+margin.bottom)
				.append("g")
				.attr("class","graph")
				.attr("transform","translate(" + margin.left + "," + margin.top + ")");

			svg.append("g")
				.attr("class","x axis")
				.attr("transform","translate(0," + hist_height + ")")
				.call(xAxis)
				.append("text");

			svg.append("g")
				.attr("class","y axis axisLeft")
				.attr("transform","translate(0,0)")
				.call(yAxis)
				.append("text")
				.attr("y",6)
				.attr("dy","-2em")
				.style("text-anchor","end")
				.style("text-anchor","end")
				.text("Counts");

			bars = svg.selectAll(".bar").data(cluster).enter();

			bars.append("rect")
				.attr("class","bar1")
				.attr("x",function(d){return x(d.name);})
				.attr("width",x.rangeBand())
				.attr("y",function(d){return y(d.count);})
				.attr("height",function(d,i,j){return hist_height - y(d.count);})
				.on("click",function(d,i){
					draw_pie(cluster_queue[i],cluster_name[i]);
				});
		}
	});

	function draw_pie(data,name){
		var arch_data = [];
		var arch_que_name = [];
		for(var i in data){
			arch_data.push(data[i].count);
			arch_que_name.push(data[i].Queue);
		}

		var margin = {top:100,right:80,bottom:100,left:80},
		pie_width = 550 - margin.left - margin.right,
		pie_height = 400 - margin.top - margin.bottom;
		var svg = d3.select("#grid-pie")
					.attr("width",pie_width)
					.attr("height",pie_height);

		var pie = d3.layout.pie();

		var outerRadius = pie_width / 4;
		var innerRadius = pie_width / 8;
		var arc = d3.svg.arc()
					.innerRadius(innerRadius)
					.outerRadius(outerRadius);

		var color = d3.scale.category10();

		var gAll = svg.append("g")
						.attr("transform","translate(" + (pie_width/2+50) + ",190)");  //圆心坐标

		var arcs = gAll.selectAll(".arcs_g")
					.data(pie(arch_data))
					.enter()
					.append("g")
					.each(function(d){
						d.dx = 0;
						d.dy = 0;
					});

		arcs.append("path")
			.attr("fill",function(d,i){
				return color(i);
			})
			.attr("d",function(d){
				return arc(d);
			});

		arcs.append("text")
			.attr("transform",function(d){
				return "translate(" + arc.centroid(d) + ")";
			})
			.attr("text-anchor","middle")
			.text(function(d){
				return d.value;
			});
		
		var tooltip = d3.select("body")
						.append("div")
						.attr("class","tooltip")
						.style("opacity",0.0);

		arcs.on("mouseover",function(d,i){
				tooltip.html(arch_que_name[i] + ":" + arch_data[i])
						.style("left",(d3.event.pageX) + "px")
						.style("top",(d3.event.pageY) + "px")
						.style("opacity",1.0);

				//tooltip.style("box-shadow","10px 0px 0px"+color(i));
			})
			.on("mousemove",function(d){
				/* 鼠标移动时，更改样式 left 和 top 来改变提示框的位置 */
				tooltip.style("left",(d3.event.pageX)+"px")
						.style("top",(d3.event.pageY+20)+"px");
			})
			.on("mouseout",function(d){
				//鼠标移除 透明度设为0
				tooltip.style("opacity",0.0);
			});
	}
</script>
{% endblock %}

