{% extends 'Base/base_site.html' %}

{% block style %}
<style>
	.tip{
			position: absolute;
			width: 120px;
			height: auto;
			font-family: simsun;
			font-size: 14px;
			text-align: center;
			color: white;
			border-width: 2px solid black;
			background-color: black;
			border-radius: 5px;
		}
		 
	.tip:after{ 
		content: '';
		position: absolute;
		bottom: 100%;
		left: 20%;
		margin-left: -8px;
		width: 0;
		height: 0;
		border-bottom: 12px solid black;
		border-right: 12px solid transparent;
		border-left: 12px solid transparent;
	}
</style>
{% endblock %}

{% block content_header %}
	<section class="content-header">
	  <h1>
	    Dashboard
	    <small>Control panel</small>
	  </h1>
	  <ol class="breadcrumb">
	    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
	    <li class="active">Dashboard</li>
	  </ol>
	</section>
{% endblock %}

{% block content %}
    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3 id="user_count"></h3>

              <p>用户访问次数</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="/user_info" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3 id="cluster_count"><sup style="font-size: 20px"></sup></h3>

              <p>集群被访问次数</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="/cluster_info" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3 id="user_op_count"></h3>

              <p>用户操作次数</p>
            </div>
            <div class="icon">
              <i class="ion ion-clipboard"></i> 
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3 id="job_count"></h3>

              <p>任务数量</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-paper-outline"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row 下面可以放其他的图表 -->
 		   
      <!-- /.row (main row) -->
      <!--图表选择区 -->
      <div class="row">
        <section class="col-lg-7 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->
       
            <div class="nav-tabs-custom">
              <!-- Tabs within a box -->
              <ul class="nav nav-tabs pull-right">
                <li class="active"><a href="#day-chart" data-toggle="tab">每天</a></li>
                <li><a href="#month-chart" data-toggle="tab">每月</a></li>
                <!--li><a href="/mosaic_chart"> Mosaic</a></li-->  <!--这里不能有data-toggle,因为这个标签会阻挡a标签的跳转作用 -->
                <li><a href="#" onclick="to_mosaic()"> Mosaic</a></li>  <!--这里不能有data-toggle,因为这个标签会阻挡a标签的跳转作用 -->
                <li class="pull-left header"><i class="fa fa-inbox"></i> 图表</li>
              </ul>
              <div class="tab-content no-padding">
                <!-- Morris chart - Sales -->
                <div class="chart tab-pane active" id="day-chart" style="position: relative; height: 300px;"></div>
                <div class="chart tab-pane" id="month-chart" style="position: relative; height: 300px;"></div>
                <!--div class="chart tab-pane" id="mosaic-chart" style="position: relative; height: 300px;"--> 
              </div>
            </div>
            <!-- /.nav-tabs-custom -->
        </section>

        <!-- 时间选择 -->
        <section class="col-lg-5 connectedSortable">
              <!--The calendar -->
         <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">时间选择</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label for="pickdate" class="col-sm-2 control-label">日期</label>

                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="pickdate" value="2018-09-03">
                  </div>
                </div>
                <div class="form-group">
                  <label for="picktime" class="col-sm-2 control-label">时刻</label>

                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="picktime" value="15:00">
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="button" class="btn btn-info pull-right" onclick="log_load()">选择</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
        </section>
      </div>

    </section>
    <!-- /.content -->
{% endblock %}

{% block js_function %}
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/bower_components/chart.js/d3.js" charset="utf-8"> </script>
<script src="/static/bower_components/time_choose/jquery-1.12.3.min.js"></script>
<script src="/static/bower_components/time_choose/datedropper.min.js"></script>
<script src="/static/bower_components/time_choose/timedropper.min.js"></script>
<script type="text/javascript">

    var flag = true;
    var day,time;      
    /*var h3_user = document.getElementById("user_count");
    var h3_cluster = document.getElementById("cluster_count");
    var h3_user_op = document.getElementById("user_op_count");
    var h3_job = document.getElementById("job_count");*/
    function log_load(){
      day = $("#pickdate").val();
      if(flag){   //第一次加载页面
          time = "15:00";
          flag = false;
      } 
      else {
        time = $("#picktime").val();
      }

      localStorage.setItem("day",day);
      localStorage.setItem("time",time);  
      $.ajax({
            type:"POST",
            url:"http://127.0.0.1:8000/get_log_data/",
            data:{
              "day":day,
              "time":time
            },
            success:function(data){
                $('#user_count').html(data.user_count);
                $('#cluster_count').html(data.cluster_count);
                $('#user_op_count').html(data.user_op_count);
                $('#job_count').html(data.job_count);
                if(data.user_count==0 && data.cluster_count==0 && data.user_op_count==0 && data.job_count==0){
                    alert("指定时间的json文件错误，请到相应目录检查文件。");    
                }
                else{
                	get_dm_data();
                }
            },
            error:function(data){
              alert("指定时间的json文件错误，请到相应目录检查文件。");
            }
      });  
    }
    
    function to_mosaic(){
      //window.location.href="/mosaic_chart/?"+"day=" + day + "&time=" + time;
      window.location.href="/mosaic_chart";
    }
    
    log_load();

    $("#pickdate").dateDropper({
            animate: false,
            format: 'Y-m-d',
            maxYear: '2020'
      });
    $("#picktime").timeDropper({
      meridians: false,
      format: 'HH:mm',
    });

    
    var day_user = [],
        day_op = [],
        day_cluster = [],
        day_job = [],Max;

    var month_user = [],
        month_op = [],
        month_cluster = [],
        month_job = [];


    function lineChart(id) { // <-1A
      var _chart = {};

      var _width = 600, _height = 300, // <-1B
              _margins = {top: 30, left: 50, right: 30, bottom: 30},
              _x, _y,
              _data = [],
              _colors = d3.scale.category10(),
              _svg,
              _bodyG,
              _line;

      _chart.render = function () { // <-2A
          if (!_svg) {
              _svg = d3.select(id).append("svg") // <-2B
                      .attr("height", _height)
                      .attr("width", _width);

              renderAxes(_svg);

              defineBodyClip(_svg);
          }

          renderBody(_svg);
      };

      function renderAxes(svg) {
          var axesG = svg.append("g")
                  .attr("class", "axes");

          renderXAxis(axesG);

          renderYAxis(axesG);
      }
      
      function renderXAxis(axesG){
          var xAxis = d3.svg.axis()
                  .scale(_x.range([0, quadrantWidth()]))
                  .orient("bottom");        

          axesG.append("g")
                  .attr("class", "x axis")
                  .attr("transform", function () {
                      return "translate(" + xStart() + "," + yStart() + ")";
                  })
                  .call(xAxis);
                  
          d3.selectAll("g.x g.tick")
              .append("line")
                  .classed("grid-line", true)
                  .attr("x1", 0)
                  .attr("y1", 0)
                  .attr("x2", 0)
                  .attr("y2", - quadrantHeight());
      }
      
      function renderYAxis(axesG){
          var yAxis = d3.svg.axis()
                  .scale(_y.range([quadrantHeight(), 0]))
                  .orient("left");
                  
          axesG.append("g")
                  .attr("class", "y axis")
                  .attr("transform", function () {
                      return "translate(" + xStart() + "," + yEnd() + ")";
                  })
                  .call(yAxis);
                  
           d3.selectAll("g.y g.tick")
              .append("line")
                  .classed("grid-line", true)
                  .attr("x1", 0)
                  .attr("y1", 0)
                  .attr("x2", quadrantWidth())
                  .attr("y2", 0);
      }

      function defineBodyClip(svg) { // <-2C
          var padding = 5;

          svg.append("defs")
                  .append("clipPath")
                  .attr("id", "body-clip")
                  .append("rect")
                  .attr("x", 0 - padding)
                  .attr("y", 0)
                  .attr("width", quadrantWidth() + 2 * padding)
                  .attr("height", quadrantHeight());
      }

      function renderBody(svg) { // <-2D
          if (!_bodyG)
              _bodyG = svg.append("g")
                      .attr("class", "body")
                      .attr("transform", "translate(" 
                          + xStart() + "," 
                          + yEnd() + ")") // <-2E
                      .attr("clip-path", "url(#body-clip)");        

          renderLines();

          renderDots();
      }

      function renderLines() {
          _line = d3.svg.line() //<-4A
                          .x(function (d) { return _x(d.x); })
                          .y(function (d) { return _y(d.y); });
                          
          _bodyG.selectAll("path.line")
                      .data(_data)
                  .enter() //<-4B
                  .append("path")                
                  .style("stroke", function (d, i) { 
                      return _colors(i); //<-4C
                  })
                  .attr("class", "line");

          _bodyG.selectAll("path.line")
                  .data(_data)
                  .transition() //<-4D
                  .attr("d", function (d) { return _line(d); });
      }

      function renderDots() {
      		var tooltip = d3.select("body")
      						.append("div")
			    		.attr("class","tip")
				    	.style("opacity",0.0);

          _data.forEach(function (list, i) {
              _bodyG.selectAll("circle._" + i) //<-4E
                          .data(list)
                      .enter()
                      .append("circle")
                      .attr("class", "dot _" + i);

              _bodyG.selectAll("circle._" + i)
                      .data(list)                    
                      .style("stroke", function (d) { 
                          return _colors(i); //<-4F
                      })
                      .transition() //<-4G
                      .attr("cx", function (d) { return _x(d.x); })
                      .attr("cy", function (d) { return _y(d.y); })
                      .attr("r", 4.5);

              console.log(id);
              _bodyG.selectAll("circle._" + i)
              			.data(list)
                      .on("mouseover",function(d){
                      	tooltip.html( "<strong>" + class_name(i) + "</strong> <br>" + d.y)
                      			.style("left",(d3.event.pageX) + "px")
                      			.style("top",(d3.event.pageY) + "px")
                      			.style("opacity",1.0);
                      })
                      .on("mousemove",function(d){
							// 鼠标移动时，更改样式 left 和 top 来改变提示框的位置 
							tooltip.style("left",(d3.event.pageX)+"px")
									.style("top",(d3.event.pageY+20)+"px");
					  })
                      .on("mouseout",function(){
                      	tooltip.style("opacity",0.0);
                      });
          });
      }

      function class_name(i){
      	if(i == 0){
      		return "用户访问次数";
      	}
      	else if(i == 1){
      		return "用户操作次数";
      	}
      	else if(i == 2){
      		return "集群被访问次数";
      	}
      	else{
      		return "任务数量";
      	}
      }

      function xStart() {
          return _margins.left;
      }

      function yStart() {
          return _height - _margins.bottom;
      }

      function xEnd() {
          return _width - _margins.right;
      }

      function yEnd() {
          return _margins.top;
      }

      function quadrantWidth() {
          return _width - _margins.left - _margins.right;
      }

      function quadrantHeight() {
          return _height - _margins.top - _margins.bottom;
      }

      _chart.width = function (w) {
          if (!arguments.length) return _width;
          _width = w;
          return _chart;
      };

      _chart.height = function (h) { // <-1C
          if (!arguments.length) return _height;
          _height = h;
          return _chart;
      };

      _chart.margins = function (m) {
          if (!arguments.length) return _margins;
          _margins = m;
          return _chart;
      };

      _chart.colors = function (c) {
          if (!arguments.length) return _colors;
          _colors = c;
          return _chart;
      };

      _chart.x = function (x) {
          if (!arguments.length) return _x;
          _x = x;
          return _chart;
      };

      _chart.y = function (y) {
          if (!arguments.length) return _y;
          _y = y;
          return _chart;
      };

      _chart.addSeries = function (series) { // <-1D
          _data.push(series);
          return _chart;
      };

      return _chart; // <-1E
    }

    function draw_day(){
      var width = 600,height = 300,margin = {top: 30, left: 50, right: 30, bottom: 30};
      Max = Math.max(d3.max(day_user),d3.max(day_op),d3.max(day_cluster),d3.max(day_job));

      var x = d3.scale.linear().domain([0, 23]);

      var y = d3.scale.linear()
                .domain([0,Max])
                .range([height-margin.top-margin.bottom,0]);

      var numberOfSeries = 4,points = 24,data = [];

      function insert_data(count){
          data.push(d3.range(points).map(function (i) {
              return {x: i, y: count[i]};
          }));  
      }
      
      insert_data(day_user);
      insert_data(day_op);
      insert_data(day_cluster);
      insert_data(day_job);
      
      document.getElementById("day-chart").innerHTML = '';

      var chart = lineChart("#day-chart") 
                  .x(x).y(y);

      data.forEach(function (series){
          chart.addSeries(series);
      });

      chart.render();
    }

    function draw_month(days){
      var width = 600,height = 300,margin = {top: 30, left: 50, right: 30, bottom: 30};
      Max = Math.max(d3.max(month_user),d3.max(month_op),d3.max(month_cluster),d3.max(month_job));

      var x = d3.scale.linear().domain([1, days]);  //每个月的天数不同

      var y = d3.scale.linear()
                .domain([0,Max])
                .range([height-margin.top-margin.bottom,0]);

      var numberOfSeries = 4,data = [];

      function insert_data(count){
          data.push(d3.range(days).map(function (i) {
              return {x: i+1, y: count[i]};
          }));  
      }
      
      insert_data(month_user);
      insert_data(month_op);
      insert_data(month_cluster);
      insert_data(month_job);
      
      document.getElementById("month-chart").innerHTML = '';

      var chart = lineChart("#month-chart") 
                  .x(x).y(y);

      data.forEach(function (series){
          chart.addSeries(series);
      });

      chart.render();
    }

    function get_dm_data(){
      day = $("#pickdate").val();
      $.ajax({
            type:"POST",
            url:"http://127.0.0.1:8000/get_dm_data/",
            data:{
              "day":day
            },
            success:function(data){
              var mdays = data.mdays;
              day_user = data.duser;
              day_op = data.dop;
              day_cluster = data.dcluster;
              day_job = data.djob;
              month_user = data.muser;
              month_op = data.mop;
              month_cluster = data.mcluster;
              month_job = data.mjob;

              draw_month(mdays);
              draw_day();
            },
            error:function(){
              alert("指定时间的json文件错误，请到相应目录检查文件。"); 
            }
      });
    }

    get_dm_data();
    
    /*var yAxis = d3.svg.axis()
                .scale(y)
                .orient("left");*/

     /*           
    var day_svg = d3.select("#day-chart")
                  .append("svg")
                  .attr("width",width)
                  .attr("height",height)
                  .append("g")
                  .attr("class","graph");

    day_svg.append("g")
           .attr("class","x axis")
           .attr("transform",function(){
                return "translate(" + margin.left + "," + (height-margin.bottom) + ")";
           })
           .call(xAxis);

    d3.selectAll("g.x g.tick")
      .append("line")
      .classed("grid-line",true)
      .attr("x1",0)
      .attr("y1",0)
      .attr("x2",0)
      .attr("y2",- (height-margin.top-margin.bottom));


    day_svg.append("g")
            .attr("class","y axis")
            .attr("transform",function(){
                return "translate(" + margin.left + "," + margin.top + ")";
            })
            .call(yAxis);

    d3.selectAll("g.y g.tick")
      .append("line")
      .classed("grid-line",true)
      .attr("x1",0)
      .attr("y1",0)
      .attr("x2",(width-margin.left-margin.right))
      .attr("y2",0);

    var padding = 5;

    svg.append("defs")
            .append("clipPath")
            .attr("id", "body-clip")
            .append("rect")
            .attr("x", 0 - padding)
            .attr("y", 0)
            .attr("width", (width-margin.left-margin.right) + 2 * padding)
            .attr("height", (height-margin.top-margin.bottom));

    var body = day_svg.append("g")
                      .attr("class","body")
                      .attr("transform","translate(" + margin.left + "," + margin.top + ")")
                      .attr("clip-path","url(#body-clip)");

    var line = d3.svg.line()
                  .x(function(d){ return x(d.x); })
                  .y(function(d){ return y(d.y);});

    body.selectAll("path.line")
        .data()*/


</script>

{% endblock %}