{% extends 'Base/base_site.html' %}
{% block style %}

{% endblock %}

{% block content_header %}
	<section class="content-header">
	  <h1>
	    Dashboard
	    <small>Control panel</small>
	  </h1>
	  <ol class="breadcrumb">
	    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
	    <li class="active">Dashboard</li>
	  </ol>
	</section>
{% endblock %}

{% block content %}
	<h1 class="page-head-line" align="center"> 集群实时数据 </h1>
	<Br/>
	<Br/>
	<div class="row">
		<section class="col-lg-6 connectedSortable">
			<div class="box box-primary">
				<div class="nav-tabs-custom">
					<ul class="nav nav-tabs pull-right">
		                <li><a href="#" data-toggle="tab" onclick="NodeChoose(0)">面积图</a></li>
		                <li><a href="#" data-toggle="tab" onclick="NodeChoose(1)">折线图</a></li>

		                <li class="pull-left header"><i class="fa fa-inbox"></i>Node</li>
		            </ul>

		            <div class="tab-content no-padding">
		            	<div id="Node_Chart" style="height:250px"></div>
		            </div>
				</div>
			</div>
		</section>
		<section class="col-lg-6 connectedSortable">
			<div class="box box-danger">
				<div class="nav-tabs-custom">
					<ul class="nav nav-tabs pull-right">
		                <li><a href="#" data-toggle="tab" onclick="UserChoose(0)">面积图</a></li>
		                <li><a href="#" data-toggle="tab" onclick="UserChoose(1)">折线图</a></li>
		                <li class="pull-left header"><i class="fa fa-inbox"></i> User</li>
		            </ul>
		            <div class="tab-content no-padding">
		            	<div id="User_Chart" style="height:250px"> </div>
		            </div>
				</div>
			</div>
		</section>
	</div>
	<div class="row">
		<div class="col-lg-6 connectedSortable">
			<div class="box box-success">
				<div class="box-header with-border">
					<div class="nav-tabs-custom">
						<ul class="nav nav-tabs pull-right">
			                <li><a href="#" data-toggle="tab" onclick="CoreChoose(0)">柱状图</a></li>
			                <li><a href="#" data-toggle="tab" onclick="CoreChoose(1)">折线图</a></li>
			                <li class="pull-left header"><i class="fa fa-inbox"></i> Core</li>
			            </ul>
			            <div class="tab-content no-padding">
			            	<div id="Core_Chart" style="height:250px"> </div>
			            </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 connectedSortable">
			<div class="box box-info">
	        	<div class="box-header with-border">
	          		<div class="nav-tabs-custom">
						<ul class="nav nav-tabs pull-right">
			                <li><a href="#" data-toggle="tab" onclick="JobChoose(0)">面积图</a></li>
			                <li><a href="#" data-toggle="tab" onclick="JobChoose(1)">折线图</a></li>
			                <li class="pull-left header"><i class="fa fa-inbox"></i> Job</li>
			            </ul>
			            <div class="tab-content no-padding">
			            	<div id="Job_Chart" style="height:250px"> </div>
			            </div>
					</div>
	          	</div>
            </div>
        </div>
	</div>
{% endblock %}

{% block js_function %}

	<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/static/bower_components/time_choose/jquery-1.12.3.min.js"></script>
	<script type="text/javascript" src="/static/bower_components/chart.js/echarts.min.js"></script>
	<script type="text/javascript">
		const all_length = 6; //现在设置为6个，最多存6个数据
		var allData = [];  //这个里面最多存6个数据
		var status,profile;
		var name;
		name = "era";
		var x_ticks = ['0', '10', '20', '30', '40', '50'];      //时间这个轴需要改一下，让它随着时间变动而变动

		var node_choose = 0,user_choose = 0,job_choose = 0,core_choose = 0;

		var area_data = new Object(),
			user_line_data = new Object(),
			job_line_data = new Object(),
			bar_data = new Object();

		$.ajaxSettings.async = false;

		function initial_data_var(){
			area_data.occupy = [];
			area_data.idle = [];
			area_data.closed = [];
			area_data.off = [];
			area_data.reserve = [];

			user_line_data.run = [];
			user_line_data.pend = [];
			user_line_data.active = [];

			job_line_data.pend = [];
			job_line_data.run = [];

			bar_data.available = [];
			bar_data.pend = [];
			bar_data.run = [];
		}

		function add_element(profile){
			area_data.occupy.push(profile.occupyNode);
			area_data.idle.push(profile.idleNode);
			area_data.closed.push(profile.closedNode);
			area_data.reserve.push(profile.reserveNode);
			area_data.off.push(profile.offNode);

			user_line_data.run.push(profile.runUser);
			user_line_data.pend.push(profile.penduser);
			user_line_data.active.push(profile.activeUser);

			job_line_data.pend.push(profile.pendJob);
			job_line_data.run.push(profile.runJob);

			bar_data.available.push(profile.availableCore);
			bar_data.pend.push(profile.pendCore);
			bar_data.run.push(profile.runCore);
		}

		function shift_element(){
			area_data.occupy.shift();
			area_data.idle.shift();
			area_data.closed.shift();
			area_data.reserve.shift();

			user_line_data.run.shift();
			user_line_data.pend.shift();
			user_line_data.active.shift();

			job_line_data.pend.shift();
			job_line_data.run.shift();

			bar_data.available.shift();
			bar_data.pend.shift();
			bar_data.run.shift();
		}

		function get_data(){
			$.ajax({
				type:"POST",
				url: "http://127.0.0.1:8000/get_rt_data/",
				data: {
					"name" : name
				},
				success:function(data){
					status = data.status;
					if(status != 3){
						console.log("get_data success");
						//console.log(data.current);
						profile = data.current;
					}
					else{
						console.log("get_data status error!");
						profile = null;
					}
				},
				error:function(){
					alert("get_data error!");
					return null;
				}
			});
		}

		function load_data(){
			get_data();
			while(!profile || typeof(profile)=="undefined"){
				get_data();
			}

			if(allData.length >= all_length){
				allData.shift();
				shift_element();
			}
			allData.push(profile);
			add_element(profile);
		}

		function Node_area_chart(){
			var dom = document.getElementById('Node_Chart');
			var myChart = echarts.init(dom);
			var app = {};
			option = null;
			option = {
			    xAxis: {
			        type: 'category',
			        boundaryGap: false,
			        data: x_ticks
			    },
			    yAxis: {
			        type: 'value'
			    },
			    tooltip: {
			        trigger: 'axis',
			        axisPointer: {
			            type: 'cross',
			            label: {
			                backgroundColor: '#6a7985'
			            }
			        }
			    },
			    legend:{
			        data:['occupyNode','idleNode','closedNode','offNode','reserveNode']
			    },
			    toolbox: {
			        feature: {
			            saveAsImage: {}
			        }
			    },
			    grid: {
			        left: '3%',
			        right: '4%',
			        bottom: '3%',
			        containLabel: true
			    },
			    series: [{
			        name:'occupyNode',
			        data: area_data.occupy,
			        type: 'line',
			        areaStyle: {}
			    },
			    {
			        name:'idleNode',
			        data: area_data.idle,
			        type: 'line',
			        areaStyle: {}
			    },
			    {
			    	name:'closedNode',
			    	data:area_data.closed,
			    	type: 'line',
			    	areaStyle: {}
			    },
			    {
			    	name:'offNode',
			    	data:area_data.off,
			    	type:'line',
			    	areaStyle: {}
			    },
			    {
			    	name:'reserveNode',
			    	data:area_data.reserve,
			    	type:'line',
			    	areaStyle: {}
			    }
			    ]
			};
			
			if (option && typeof option === "object") {
			    myChart.setOption(option, true);
			}	
		}
		
		function Node_line_chart(){
			var dom = document.getElementById("Node_Chart");
			var myChart = echarts.init(dom);
			var app = {};
			option = null;
			option = {
			    tooltip: {
			        trigger: 'axis'
			    },
			    legend: {
			        data:['occupyNode','idleNode','closedNode','offNode','reserveNode']
			    },
			    toolbox: {
			        show: true,
			        feature: {
			            magicType: {show: true, type: ['stack', 'tiled']},
			            saveAsImage: {show: true}
			        }
			    },
			    xAxis: {
			        type: 'category',
			        boundaryGap: false,
			        data: x_ticks
			    },
			    yAxis: {
			        type: 'value'
			    },
			    series: [{
			        name:'occupyNode',
			        data: area_data.occupy,
			        type: 'line',
			        smooth: true
			    },
			    {
			        name:'idleNode',
			        data: area_data.idle,
			        type: 'line',
			        smooth: true
			    },
			    {
			    	name:'closedNode',
			    	data:area_data.closed,
			    	type: 'line',
			    	smooth: true
			    },
			    {
			    	name:'offNode',
			    	data:area_data.off,
			    	type:'line',
			    	smooth: true
			    },
			    {
			    	name:'reserveNode',
			    	data:area_data.reserve,
			    	type:'line',
			    	smooth: true
			    }]
			};
			if (option && typeof option === "object") {
			    myChart.setOption(option, true);
			}
		}

		function user_line_chart(){
			var dom = document.getElementById("User_Chart");
			var myChart = echarts.init(dom);
			var app = {};
			option = null;
			option = {
			    tooltip: {
			        trigger: 'axis'
			    },
			    legend: {
			        data:['runUser','activeUser','pendUser']
			    },
			    toolbox: {
			        show: true,
			        feature: {
			            magicType: {show: true, type: ['stack', 'tiled']},
			            saveAsImage: {show: true}
			        }
			    },
			    xAxis: {
			        type: 'category',
			        boundaryGap: false,
			        data: x_ticks
			    },
			    yAxis: {
			        type: 'value'
			    },
			    series: [{
			        name: 'runUser',
			        type: 'line',
			        smooth: true,
			        data: user_line_data.run
			    },
			    {
			        name: 'activeUser',
			        type: 'line',
			        smooth: true,
			        data: user_line_data.active
			    },
			    {
			        name: 'pendUser',
			        type: 'line',
			        smooth: true,
			        data: user_line_data.pend
			    }]
			};
			if (option && typeof option === "object") {
			    myChart.setOption(option, true);
			}
		}

		function user_area_chart(){
			var dom = document.getElementById('User_Chart');
			var myChart = echarts.init(dom);
			var app = {};
			option = null;
			option = {
			    xAxis: {
			        type: 'category',
			        boundaryGap: false,
			        data: x_ticks
			    },
			    yAxis: {
			        type: 'value'
			    },
			    tooltip: {
			        trigger: 'axis',
			        axisPointer: {
			            type: 'cross',
			            label: {
			                backgroundColor: '#6a7985'
			            }
			        }
			    },
			    legend:{
			        data:['runUser','activeUser','pendUser']
			    },
			    toolbox: {
			        feature: {
			            saveAsImage: {}
			        }
			    },
			    grid: {
			        left: '3%',
			        right: '4%',
			        bottom: '3%',
			        containLabel: true
			    },
			    series: [{
			        name: 'runUser',
			        type: 'line',
			        data: user_line_data.run,
			        areaStyle: {}
			    },
			    {
			        name: 'activeUser',
			        type: 'line',
			        areaStyle: {},
			        data: user_line_data.active
			    },
			    {
			        name: 'pendUser',
			        type: 'line',
			        areaStyle: {},
			        data: user_line_data.pend
			    }]
			};
			
			if (option && typeof option === "object") {
			    myChart.setOption(option, true);
			}
		}

		function job_line_chart(){
			var dom = document.getElementById("Job_Chart");
			var myChart = echarts.init(dom);
			var app = {};
			option = null;
			option = {
			    title: {
			        text: 'Job'
			    },
			    tooltip: {
			        trigger: 'axis'
			    },
			    legend: {
			        data:['pendJob','runJob']
			    },
			    toolbox: {
			        show: true,
			        feature: {
			            magicType: {show: true, type: ['stack', 'tiled']},
			            saveAsImage: {show: true}
			        }
			    },
			    xAxis: {
			        type: 'category',
			        boundaryGap: false,
			        data: x_ticks
			    },
			    yAxis: {
			        type: 'value'
			    },
			    series: [{
			        name: 'pendJob',
			        type: 'line',
			        smooth: true,
			        data: job_line_data.pend
			    },
			    {
			        name: 'runJob',
			        type: 'line',
			        smooth: true,
			        data: job_line_data.run
			    }]
			};
			if (option && typeof option === "object") {
			    myChart.setOption(option, true);
			}
		}

		function job_area_chart(){
			var dom = document.getElementById('Job_Chart');
			var myChart = echarts.init(dom);
			var app = {};
			option = null;
			option = {
			    xAxis: {
			        type: 'category',
			        boundaryGap: false,
			        data: x_ticks
			    },
			    yAxis: {
			        type: 'value'
			    },
			    tooltip: {
			        trigger: 'axis',
			        axisPointer: {
			            type: 'cross',
			            label: {
			                backgroundColor: '#6a7985'
			            }
			        }
			    },
			    legend:{
			        data:['pendJob','runJob']
			    },
			    toolbox: {
			        feature: {
			            saveAsImage: {}
			        }
			    },
			    grid: {
			        left: '3%',
			        right: '4%',
			        bottom: '3%',
			        containLabel: true
			    },
			    series: [{
			        name: 'pendJob',
			        type: 'line',
			        data: job_line_data.pend,
			        areaStyle: {}
			    },
			    {
			        name: 'runJob',
			        type: 'line',
			        data: job_line_data.run,
			        areaStyle: {}
			    }]
			};
			
			if (option && typeof option === "object") {
			    myChart.setOption(option, true);
			}
		}

		function core_bar_chart(){
			var dom = document.getElementById("Core_Chart");
			var myChart = echarts.init(dom);
			var app = {};
			option = null;
			app.title = '堆叠柱状图';

			option = {
			    tooltip : {
			        trigger: 'axis',
			        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
			            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
			        }
			    },
			    legend: {
			        data:['availableCore','pendCore','runCore']
			    },
			    grid: {
			        left: '3%',
			        right: '4%',
			        bottom: '3%',
			        containLabel: true
			    },
			    xAxis : [
			        {
			            type : 'category',
			            data : x_ticks
			        }
			    ],
			    yAxis : [
			        {
			            type : 'value'
			        }
			    ],
			    series : [
			        {
			            name:'availableCore',
			            type:'bar',
			            data: bar_data.available
			        },
			        {
			            name:'pendCore',
			            type:'bar',
			            barWidth : 5,
			            stack: 'availableCore',
			            data:bar_data.pend
			        },
			        {
			            name:'runCore',
			            type:'bar',
			            stack: 'availableCore',
			            data:bar_data.run
			        }
			    ]
			};

			if (option && typeof option === "object") {
			    myChart.setOption(option, true);
			}
		}

		function core_line_chart(){
			var dom = document.getElementById("Core_Chart");
			var myChart = echarts.init(dom);
			var app = {};
			option = null;
			option = {
			    tooltip: {
			        trigger: 'axis'
			    },
			    legend: {
			        data:['availableCore','pendCore','runCore']
			    },
			    toolbox: {
			        show: true,
			        feature: {
			            magicType: {show: true, type: ['stack', 'tiled']},
			            saveAsImage: {show: true}
			        }
			    },
			    xAxis: {
			        type: 'category',
			        boundaryGap: false,
			        data: x_ticks
			    },
			    yAxis: {
			        type: 'value'
			    },
			    series: [{
			            name:'availableCore',
			            type:'line',
			            data: bar_data.available
			        },
			        {
			            name:'pendCore',
			            type:'line',
			            data:bar_data.pend
			        },
			        {
			            name:'runCore',
			            type:'line',
			            data:bar_data.run
			        }]
			};
			if (option && typeof option === "object") {
			    myChart.setOption(option, true);
			}
		}

		function NodeChoose(choose){
			if(node_choose != choose){
				node_choose = choose;
				draw_node_chart();
			}
		}

		function UserChoose(choose){
			if(choose != user_choose){
				user_choose = choose;
				draw_user_chart();
			}
		}

		function CoreChoose(choose){
			if(choose != core_choose){
				core_choose = choose;
				draw_core_chart(core_choose);
			}
		}

		function JobChoose(choose){
			if(choose != job_choose){
				job_choose = choose;
				draw_job_chart();
			}
		}

		function draw_node_chart(){
			if(node_choose == 0){
				Node_area_chart();
			}
			else{
				Node_line_chart();
			}
		}
		function draw_user_chart(){
			if(user_choose == 0){
				user_area_chart();
			}
			else{
				user_line_chart();
			}
		}
		function draw_job_chart(){
			if(job_choose == 0){
				job_area_chart();
			}
			else{
				job_line_chart();
			}
		}
		function draw_core_chart(){
			if(core_choose == 0){
				core_bar_chart();
			}
			else{
				core_line_chart();
			}
		}

		function draw_all_chart(){
			//console.log('refresh');
			load_data();
			draw_node_chart();
			draw_user_chart();
			draw_job_chart();
			draw_core_chart();
		}

		initial_data_var();  //首先要把相应的变量初始化
		setInterval(draw_all_chart,10000);
		//draw_all_chart();
	</script>
{% endblock %}